
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://221.178.19.176/update1.dlied.qq.com/sgame/Exp/202007_v54/IOS/App/Full_4f2a173d53c8c4ad9cca42296d64e410_0.54.18.1_30665.TKL?mkey=5f3ccfdadf68464c&f=8e4b&cip=223.104.96.185&proto=http&access_type=$header_ApolloNet</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>*</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>App</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
